<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生コース一覧</title>
  <meta charset="UTF-8">
</head>
<body>
<h1>受講生コース一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>コースID</th>
    <th>受講生ID</th>
    <th>コース名</th>
    <th>開始日</th>
    <th>終了日</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="course : ${studentsCourses}">
    <td th:text="${course.courseId}">courseId</td>
    <td th:text="${course.studentId}">studentId</td>
    <td th:text="${course.courseName}">courseName</td>
    <td th:text="${course.startDate}">startDate</td>
    <td th:text="${course.endDate}">endDate</td>
  </tr>
  </tbody>
</table>

<br>
<a th:href="@{/studentList}">← 受講生一覧へ戻る</a>
</body>
</html>